body{
    margin:0;
    font-family: Arial;
    background:#f4f6f9;
}

header{
    background:#2f5597;
    color:white;
    padding:10px;
    text-align:center;
    position:relative;
}

.logo{
    position:absolute;
    right:20px;
    top:10px;
    height:50px;
}

.home-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:10px 20px;
}

.home-logo{
    height:60px;
}

.home-links{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap:20px;
    margin-top:150px;
}

.home-btn{
    background:#ff6600;
    color:white;
    padding:15px 40px;
    border-radius:8px;
    text-decoration:none;
    font-weight:bold;
}

.form-box{
    background:white;
    padding:20px;
    border-radius:10px;
    width:300px;
    margin:auto;
    margin-top:100px;
}

input, select, textarea{
    width:100%;
    margin-bottom:10px;
    padding:8px;
}

button{
    background:#ff6600;
    color:white;
    padding:10px;
    border:none;
    width:100%;
    cursor:pointer;
}

.tabs{
    display:flex;
    justify-content:space-around;
    margin:20px;
}

.dashboard{
    display:flex;
    gap:20px;
    padding:20px;
}

.list-container{
    width:40%;
    display:flex;
    flex-direction:column;
    gap:10px;
}

.detail-container{
    width:60%;
    background:white;
    padding:20px;
    border-radius:10px;
}

.item-card{
    background:white;
    padding:15px;
    border-radius:8px;
    cursor:pointer;
}
